<div>
  <h2>Editar Buffet</h2>

  <% if @buffet.errors.any? %>
    <dl>
      <dt>Não foi possível editar:</dt>
      <% @buffet.errors.full_messages.each do |msg| %>
        <dd><%= msg %>!</dd>
      <% end %>
    </dl>
  <% end %>

  <%= form_with model: @buffet do |f| %>
    <div>
      <%= f.label :trade_name %>
      <%= f.text_field :trade_name %>
    </div>
    <div>
      <%= f.label :telephone %>
      <%= f.telephone_field :telephone %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :payment_types %>
      <%= f.text_field :payment_types %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    
    <%= f.submit 'Salvar' %>
  <% end %>
</div>