<div>
  <h2><%= @buffet.trade_name %> - <%= @buffet.registration_number %></h2>
  <h3><%= @buffet.description %></h3>
  <ul>
    <li>
      <strong>Contato: </strong><%= @buffet.contact %>
    </li>
    <li>
      <strong>Endereço: </strong><%= @buffet.address.path %>.
    </li>
    <li>
      <strong>Cidade/UF: </strong><%= @buffet.address.city %>/<%= @buffet.address.state %>. CEP: <%= @buffet.address.zip %>
    </li>
    <li>
      <strong>Tipos de Pagamento: </strong><%= @buffet.payment_types %>
    </li>
  </ul>
  <%= button_to 'Editar', edit_buffet_path(@buffet), method: :get if @buffet.owner == current_owner %>
</div>

<div>
  <% if @buffet.events.empty? %>
    <p>Não há tipos de eventos cadastrados para esse Buffet!</p>
  <% else %>
    <div>
      <% @buffet.events.each do |event| %>
        <h2><strong><%= event.name %></strong></h2>
        <h3><%= event.event_description %></h3>
        <dl>
          <dt>Quantidade mínima de pessoas:</dt>
          <dd><%= event.minimum_of_people %></dd>
          <dt>Quantidade máxima de pessoas:</dt>
          <dd><%= event.maximum_of_people %></dd>
          <dt>Duração padrão:</dt>
          <dd><%= event.duration %></dd>
          <dt>Cardápio:</dt>
          <dd><%= event.menu %></dd>
          <dt>Serviços Extras:</dt>
          <dd>Bebida Alcoólica: <%= I18n.t(event.alcoholic_drink) %></dd>
          <dd>Decoração: <%= I18n.t(event.ornamentation) %></dd>
          <dd>Serviço de Estacionamento (Valet): <%= I18n.t(event.valet) %></dd>
          <dd>Localização: <%= I18n.t(event.locality) %></dd>
        </dl>
      <% end %>
    </div>
  <% end %>
  <%= button_to 'Adicionar Evento', new_event_path, method: :get if @buffet.owner == current_owner%>
</div>