<h2><strong><%= event.name %></strong></h2>
<h3><%= event.event_description %></h3>

<div>
  <dl>
    <dt>Quantidade mínima de pessoas:</dt>
    <dd><%= event.minimum_of_people %></dd>
    <dt>Quantidade máxima de pessoas:</dt>
    <dd><%= event.maximum_of_people %></dd>
    <dt>Duração padrão:</dt>
    <dd><%= event.duration %></dd>
    <dt>Cardápio:</dt>
    <dd><%= event.menu %></dd>
    <dt>Serviços Extras:</dt>
    <dd>Bebida Alcoólica: <%= I18n.t(event.alcoholic_drink) %></dd>
    <dd>Decoração: <%= I18n.t(event.ornamentation) %></dd>
    <dd>Serviço de Estacionamento (Valet): <%= I18n.t(event.valet) %></dd>
    <dd>Localização: <%= I18n.t(event.locality) %></dd>
  </dl>
  <% if owner_signed_in? && event.buffet.owner == current_owner %>
    <%= button_to 'Editar Evento', edit_event_path(event), method: :get %>
  <% end %>
</div>

<div>
  <% if event.prices.empty? %>
    <p>Ainda não foram cadastrados preços para esse evento!</p>
  <% else %>
    <% event.prices.each do |price| %>
      <strong>Para <%= price.weekday %></strong>
      <ul>
        <li>Valor mínimo: R$ <%= price.minimum_cost %>,00</li>
        <li>Valor adicional por pessoa: R$ <%= price.add_cost_by_person %>,00</li>
        <li>Valor adicional por hora extra: R$ <%= price.add_cost_by_hour %>,00</li>
      </ul>
    <% end %>
  <% end %>
  <% if owner_signed_in? && event.buffet.owner == current_owner && event.available_days? %>
    <%= link_to 'Definir Preços-Base', new_event_price_path(event.id) %>
  <% end %>
</div>

<%= button_to 'Contratar Buffet', new_event_order_path(event), method: :get if !owner_signed_in? %>