<div id="order_info_for_owner">
  <h1>Pedido <%= @order.code %></h1>

  <div>
    <% if @conflict_dates_orders.present? && !@order.canceled? %>
        <strong>Data Desejada em conflito com:</strong>
          <% @conflict_dates_orders.each do |order| %>
            <%= order.code %> | 
          <% end %>
    <% end %>
  </div>

  <div>
    <ul>
      <li>
        <strong>Tipo de Evento:</strong> <%= @order.event.name %>
      </li>
      <li>
        <strong>Número Estimado de Convidados:</strong> <%= @order.number_of_guests %>
      </li>
      <li>
        <strong>Data Desejada:</strong> <%= I18n.localize(@order.date) %>
      </li>
      <% if @order.address.present? %>
        <li>
          <strong>Endereço Desejado:</strong> <%= @order.address %>
        </li>
      <% end %>
      <li>
        <strong>Mais Detalhes:</strong> <%= @order.other_details %>
      </li>
      <li>
        <strong>Status:</strong> <%= I18n.t(@order.status, count: 1) %>
      </li>
    </ul>
    
    <% if @order.pending? %>
      <%= button_to 'Aprovar Pedido', new_order_order_budget_path(@order), method: :get %>
    <% end %>
  </div>
</div>