<h1>Adicionar Preço-Base</h1>


<% if @price.errors.any? %>
  <p>Verifique os erros:</p>
  <ul>
    <% @price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [@event, @price] do |f| %>
  <div>
    <%= f.label :minimum_cost %>
    <%= f.number_field :minimum_cost %>
  </div>
  <div>
    <%= f.label :add_cost_by_person %>
    <%= f.number_field :add_cost_by_person %>
  </div>
  <div>
    <%= f.label :add_cost_by_hour %>
    <%= f.number_field :add_cost_by_hour %>
  </div>
  <div>
    <%= f.label :weekday %>
    <%= f.select :weekday, @event.available_days? %>
  </div>

  <%= f.submit 'Salvar' %>
<% end %>